<h1 class="display-4">Welcome To Ping!</h1>  
<p class="mb-4">Here you can ping your server or website</p>
<form method="POST" action="/Testapi/list">
    <div class="form-group">
        <label for="input">
            Input your Domain or IP here
        </label>
        <input type="text" name="input" class="form-control">
    </div>
    
    <input type="submit" class="btn btn-primary" value="Submit">
</form>
